$themes: (
  light: (
    neutral: #fafafa,
    neutral-accent: #e3f2fd,
    primary: #536dfe,
    secondary: #ff1744,
    font: #212121,
    font-reverse: #e3f2fd,
  ),
  dark: (
    neutral: #222128,
    neutral-accent: #102a43,
    primary: #536dfe,
    secondary: #ff1744,
    font: #e3f2fd,
    font-reverse: #212121,
  ),
);
