$themes: (
  light: (
    neutral: #fafafa,
    neutral-accent: #f2f4f8,
    primary: #536dfe,
    secondary: #ff1744,
    font: #212121,
    font-reverse: #f2f4f8,
    'white': #f2f4f8,
  ),
  dark: (
    neutral: #222128,
    neutral-accent: #212d3b,
    primary: #536dfe,
    secondary: #ff1744,
    font: #f2f4f8,
    font-reverse: #212121,
    'white': #f2f4f8,
  ),
);
